body {
  font-family: Arial;
  background: linear-gradient(
    to bottom,
    rgb(223, 223, 223),
    rgb(165, 165, 165)
  );
}

.header {
  overflow: hidden;
  padding: 4px 4px;
  background-color: hsla(0, 0%, 100%, 0.75);
  color: #333;
  border-radius: 10px;
  text-align: center;
}

.header h1 {
  margin-top: 15px;
  margin-bottom: 2.5px;
}

.header h4 {
  margin-top: 2.5px;
  margin-bottom: 15px;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  border-radius: 10px;
}

.navboxes {
  width: 90px;
  padding: 10px 10px;
  text-align: center;
  transition: background-color 0.5s, color 0.5s;
}

.navbar a {
  color: #fff;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.navboxes:hover {
  background-color: #404041;
  color: white;
}

.about-box {
  background-color: hsla(0, 0%, 100%, 0.75);
  color: #333;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ProfilePicture {
  width: 15%;
  height: 15%;
  border-radius: 10px;
  float: right;
}

.skills-box {
  background-color: hsla(0, 0%, 100%, 0.75);
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about,
.skills,
.project {
  margin: 25px 0;
}

.skills {
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-bar {
  position: relative;
  height: 20px;
  width: 80%;
  background-color: #ddd;
  margin-bottom: 10px;
}

.skills-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  text-align: left;
}

.projects-tab {
  background-color: hsla(0, 0%, 100%, 0.75);
  color: #333;
  padding: 2px;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-tab h2 {
  padding: 2;
  font-size: 24px;
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 7px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.project {
  margin-top: 10px;
  background-color: hsla(0, 0%, 100%, 0.75);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project h3 {
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
}

.project p {
  margin: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
}

.footer-left p {
  margin: 0;
}

.footer-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-right li {
  margin-left: 20px;
}

.footer-right a {
  color: #fff;
  text-decoration: none;
}
