body {
  font-family: Arial;
  background: linear-gradient(
    to bottom,
    rgb(223, 223, 223),
    rgb(165, 165, 165)
  );
}

.header {
  overflow: hidden;
  padding: 4px 4px;
  background-color: hsla(0, 0%, 100%, 0.75);
  color: #333;
  border-radius: 10px;
  text-align: center;
}

.header h1 {
  margin-top: 15px;
  margin-bottom: 2.5px;
}

.header h4 {
  margin-top: 2.5px;
  margin-bottom: 15px;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  border-radius: 10px;
}

.navboxes {
  width: 90px;
  padding: 10px 10px;
  text-align: center;
  transition: background-color 0.5s, color 0.5s;
}

.navbar a {
  color: #fff;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.navboxes:hover {
  background-color: #404041;
  color: white;
}

.project-1-box {
  background-color: hsla(0, 0%, 100%, 0.75);
  color: #333;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-1-box {
  margin: 25px 0;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.image-box {
  width: 400px;
  height: 250px;
  margin: 20px;
  overflow: hidden;
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
}

.footer-left p {
  margin: 0;
}

.footer-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-right li {
  margin-left: 20px;
}

.footer-right a {
  color: #fff;
  text-decoration: none;
}
