body {
  background: linear-gradient(
    to bottom,
    rgb(245, 245, 245),
    rgb(185, 185, 185)
  );
}

.about-box {
  background-color: hsla(0, 0%, 100%, 0.75);
  color: #333;
  padding: 20px;
  border-radius: 10px;

  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skills-box {
  background-color: hsla(0, 0%, 100%, 0.75);
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about,
.skills {
  margin: 40px 0;
}

.skills {
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-bar {
  position: relative;
  height: 20px;
  width: 80%;
  background-color: #ddd;
  margin-bottom: 10px;
}

.skills-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  text-align: left;
}

.projects-tab {
  background-color: hsla(0, 0%, 100%, 0.75);
  color: #333;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.project {
  margin-top: 10px;
  background-color: hsla(0, 0%, 100%, 0.75);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project h3 {
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
}

.project p {
  margin: 10px;
  font-size: 14px;
  line-height: 1.5;
}
